<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <title>Home</title>
    
</head>
<body>
    <main class="main-container">
        <h1>Welcome to the Binance App</h1>
        <div class="links-container">
            <a href="/order/">Place an Order</a>
            <a href="/history/">History</a>
            <a href="/pricing/">Get Prices</a>
            <a href="/start_kline_stream/btcusdt/1m/">Get Klines</a>
            <a href="/account/">Account details</a>
            <a href="/open-orders/">Open orders</a>
        </div>
        
    </main>
    
</body>
</html>
